@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  background: #f9f8f6; }

header #herder_in {
  padding-top: 10px;
  padding-bottom: 4px; }
header h1 {
  margin: 0; }
header .logo {
  text-align: center;
  margin-top: 30px; }
@media (min-width: 768px) {
  header .logo {
    width: 190px;
    text-align: left;
    margin: 0px; }
  header .navi {
    width: 40px;
    float: right; } }
header .sp_navi {
  text-align: center; }
header #sp_navi_btn {
  padding: 5px; }
header #sp_btn {
  padding: 5px; }
header .sp_navi_li {
  margin: 0;
  padding: 0;
  display: none; }
  header .sp_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0; }
    header .sp_navi_li li a {
      color: #524c3e;
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #524c3e;
      font-size: 14px;
      text-decoration: none; }
    header .sp_navi_li li a:hover {
      color: #887f69; }
@media (min-width: 768px) {
  header .sp_navi {
    display: none; }
  header #header_in {
    padding: 15px 0 10px 0; }
  header .pc_navi_li {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; }
    header .pc_navi_li li {
      list-style: none;
      margin: 20px 0 0 0;
      padding: 0; }
      header .pc_navi_li li a {
        color: #524c3e;
        text-decoration: none;
        font-weight: bold;
        font-family: "Myriad Pro";
        font-size: 13px;
        font-size: 1.3rem;
        float: left;
        padding-right: 10px; }
      header .pc_navi_li li a:hover {
        color: #887f69; } }
@media (max-width: 768px) {
  header .pc_navi {
    display: none; } }

#contents #main .owl-theme .owl-dots, #contents #main .owl-theme .owl-nav {
  text-align: left; }
#contents #main .owl-theme .owl-dots .owl-dot span {
  width: 25px;
  height: 3px;
  margin: 5px 3px;
  border-radius: 0; }
#contents #main .owl-theme .owl-dots .owl-dot.active span, #contents #main .owl-theme .owl-dots .owl-dot:hover span {
  background: #9d1a2d; }
#contents #main .new_items {
  clear: both; }
  #contents #main .new_items h2 {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    color: #887f69;
    padding-top: 20px; }
  #contents #main .new_items .item-box {
    width: 45%;
    float: left;
    background-color: white;
    padding: 2.3%;
    margin: 0.2%; }
  @media (min-width: 550px) {
    #contents #main .new_items .item-box {
      width: 30%;
      padding: 1.4%;
      margin: 0.2%; }
      #contents #main .new_items .item-box p {
        margin-bottom: 1.5rem; }
      #contents #main .new_items .item-box img {
        width: 100%; } }
#contents #main .shopping_guide {
  clear: both; }
  #contents #main .shopping_guide h5 {
    color: #887f69;
    font-size: 20px; }
  #contents #main .shopping_guide h2 {
    text-align: center;
    margin: 0; }
  #contents #main .shopping_guide .container {
    display: flex;
    flex-direction: row;
    width: 100%; }
  #contents #main .shopping_guide .otodoke, #contents #main .shopping_guide .kessai {
    background: white;
    margin-bottom: 10px;
    padding: 5%;
    flex: 1; }
  @media (max-width: 550px) {
    #contents #main .shopping_guide .container {
      flex-direction: column; } }
  @media (min-width: 550px) {
    #contents #main .shopping_guide .otodoke {
      margin-right: 2px; }
    #contents #main .shopping_guide .kessai {
      margin-left: 2px; } }
#contents #main .pankuzu {
  background: #e2ddd4;
  font-size: 12px;
  padding: 8px;
  color: #887f69; }
#contents #main .item {
  background: white; }
  #contents #main .item .item_title {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2ddd4;
    margin-bottom: 10px; }
    #contents #main .item .item_title .fa {
      color: #b0b0b0; }
    @media (min-width: 550px) {
      #contents #main .item .item_title .fa {
        text-align: right; } }
  #contents #main .item .list p {
    margin: 0; }
  @media (max-width: 550px) {
    #contents #main .item .list p {
      display: none; } }
  #contents #main .item .list #display_img img {
    width: 100%; }
    @media (min-width: 550px) {
      #contents #main .item .list #display_img img {
        width: 73%;
        float: left; } }
  #contents #main .item .list #list_img {
    margin: 0; }
    @media (min-width: 550px) {
      #contents #main .item .list #list_img {
        width: 26%;
        float: left;
        padding-left: 1%; } }
  #contents #main .item .list li {
    list-style: none;
    display: inline-block;
    width: 18%;
    padding: 1%;
    margin-bottom: 0; }
    @media (min-width: 550px) {
      #contents #main .item .list li {
        width: 48%; } }
  #contents #main .item .list li img {
    width: 100%;
    cursor: pointer; }
  #contents #main .item .color_size {
    padding-top: 8px;
    border-top: solid 1px #e2ddd4; }
    #contents #main .item .color_size img {
      padding-top: 10px;
      padding-bottom: 10px; }
    #contents #main .item .color_size table {
      width: 100%;
      color: #887f69; }
    #contents #main .item .color_size td {
      border: solid 1px #e2ddd4;
      padding: 8px;
      text-align: center; }
  #contents #main .item .price_quantity {
    overflow: hidden; }
    #contents #main .item .price_quantity .price {
      padding-top: 8px;
      padding-bottom: 8px;
      border-top: 1px solid #e2ddd4; }
      #contents #main .item .price_quantity .price img {
        padding-right: 35px; }
    #contents #main .item .price_quantity .quantity {
      padding-top: 8px;
      padding-bottom: 8px;
      border-top: 1px solid #e2ddd4;
      border-bottom: 1px solid #e2ddd4;
      overflow: hidden; }
      @media (min-width: 550px) {
        #contents #main .item .price_quantity .quantity {
          border-bottom: 0px; } }
      #contents #main .item .price_quantity .quantity img {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 20px;
        float: left; }
      #contents #main .item .price_quantity .quantity .box {
        border-style: solid;
        border-width: 1px;
        color: #e2ddd4;
        width: 40%;
        float: left; }
    @media (min-width: 550px) {
      #contents #main .item .price_quantity .price, #contents #main .item .price_quantity .quantity {
        margin: 0;
        width: 60%;
        float: left; } }
    @media (max-width: 550px) {
      #contents #main .item .price_quantity .add_to_cart img {
        text-align: center;
        width: 80%;
        padding: 10%; } }
    @media (min-width: 550px) {
      #contents #main .item .price_quantity .add_to_cart img {
        width: 35%;
        padding: 0;
        padding-left: 5%;
        position: absolute; } }
  #contents #main .item .setsumei {
    color: #887f69;
    padding-bottom: 8px;
    border-bottom: 1px solid; }
    @media (min-width: 550px) {
      #contents #main .item .setsumei {
        padding-top: 25px;
        border-top: 1px solid #e2ddd4; } }
  #contents #main .item .setsumei_title {
    color: #887f69;
    padding-top: 8px; }
  #contents #main .item .setsumei_text {
    padding-top: 8px;
    padding-bottom: 15px; }
  #contents #main .item table {
    width: 100%;
    color: #887f69; }
  #contents #main .item td {
    font-size: 12px;
    border: solid 1px #e2ddd4;
    padding: 10px 15px; }
#contents #main .cover_sp {
  width: 100%;
  padding-top: 5px; }
  @media (min-width: 550px) {
    #contents #main .cover_sp {
      display: none; } }
#contents #main .cover_pc {
  width: 100%;
  padding-top: 5px; }
  @media (max-width: 550px) {
    #contents #main .cover_pc {
      display: none; } }
#contents #sidebar .pc_sidemenu .search {
  background: #fff;
  padding: 5px 15px; }
  #contents #sidebar .pc_sidemenu .search h4 {
    margin: 0; }
  #contents #sidebar .pc_sidemenu .search form {
    background-color: #ecebe8;
    height: 24px;
    font-size: 12px;
    color: #615c57;
    line-height: 23px; }
  #contents #sidebar .pc_sidemenu .search input {
    float: left;
    width: 65%;
    height: 24px;
    box-sizing: border-box;
    padding: 2px 5px;
    margin: 0;
    border: none;
    background: transparent; }
  #contents #sidebar .pc_sidemenu .search button {
    float: right;
    border: 0;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background: transparent; }
#contents #sidebar .pagelink {
  padding-top: 8px; }
  #contents #sidebar .pagelink i {
    background-image: url("../images/top/next_icon.png");
    float: right;
    background-repeat: no-repeat;
    padding: 8px;
    margin: 12px; }
  #contents #sidebar .pagelink h3 {
    background: #887f69;
    height: 40px;
    margin: 0 0 5px 0; }
    #contents #sidebar .pagelink h3 img {
      padding: 15px; }
#contents #sidebar .categories i {
  background-image: url("../images/top/down_icon.png");
  float: right;
  background-repeat: no-repeat;
  padding: 8px;
  margin: 13px; }
#contents #sidebar .categories h3 {
  background: #887f69;
  height: 40px;
  margin: 0; }
  #contents #sidebar .categories h3 img {
    padding: 15px; }
#contents #sidebar .categories .categories_down {
  display: block; }
  #contents #sidebar .categories .categories_down i {
    background-image: url("../images/top/next_icon_gray.png");
    float: right;
    background-repeat: no-repeat;
    padding: 8px;
    margin: 2px; }
  #contents #sidebar .categories .categories_down dl {
    margin: 0; }
  #contents #sidebar .categories .categories_down .btn_categories {
    padding: 10px;
    background: #fff;
    cursor: pointer;
    margin-top: 2px; }
#contents #sidebar .about {
  padding-top: 5px; }
  #contents #sidebar .about h3 {
    background: #887f69;
    height: 40px;
    margin: 0; }
    #contents #sidebar .about h3 img {
      padding: 15px; }
  #contents #sidebar .about .container {
    display: flex;
    flex-direction: row;
    background: white;
    width: 100%;
    margin-bottom: 5px; }
  #contents #sidebar .about .about-img, #contents #sidebar .about .about-text {
    margin: 10px;
    flex: 1; }
  #contents #sidebar .about .about-img img {
    width: 100%; }
  @media (min-width: 880px) {
    #contents #sidebar .about .container {
      flex-direction: column; }
    #contents #sidebar .about .about-img img {
      width: 100%; }
    #contents #sidebar .about .about-text {
      margin-top: 0; } }
  @media (min-width: 880px) and (min-width: 880px) {
    #contents #sidebar .about .about-text .img {
      text-align: center;
      padding-top: 10px; } }

  #contents #sidebar .about p {
    margin-bottom: 5px; }
@media (max-width: 880px) {
  #contents .pc_h2 {
    display: none; }
  #contents h4 {
    display: none; }
  #contents form {
    margin: 20px; } }
@media (min-width: 880px) {
  #contents .sp_h2 {
    display: none; } }

footer {
  text-align: center; }
  footer .pagetop {
    padding: 20px; }
    @media (min-width: 550px) {
      footer .pagetop {
        text-align: right;
        padding-right: 0; } }
  footer .foot {
    border-top: 1px solid #887f69;
    padding-top: 20px; }

/*# sourceMappingURL=style.css.map */
